// Colors

$white: #fff;

$light-grey: #c8c8c8;
$grey: #787878;

$black: #000;

$green: #518c08;
$orange: #f8971d;

// Theme

$color-primary: $green;
$color-secondary: $orange;

// Font sizes
$fz-small: 16px;
$fz-normal: 18px;
$fz-medium: 20px;
$fz-large: 30px;
$fz-big: 60px;

//  Line Height
$lh-ratio: 1.2;

//
$container-small: 760px;
$container-medium: 1000px;
$container-large: 1200px;
